exportPattern("^[[:alpha:]]+")
importFrom("graphics", "hist", "par", "plot")
importFrom("stats", "density", "pchisq", "qchisq", "qqline", "qqplot","rchisq")
importFrom("utils", "View")
S3method(print, GSAfisher)
S3method(print, GSAfisher.mult)
S3method(plot, GSAfisher.mult)
S3method(summary, GSAfisher)
S3method(hist, GSAfisher.mult)
S3method(GSAfisher,GSAfisher.mult)
S3method(GSAfisher,default)